.countdown_sec {
  background-image: url(../../Assets/discountBg.webp);
  background-position: center;
  background-size: cover;

  padding: 60px 0;
}
@media (min-width: 992px) {
  .countdown_sec {
    padding: 22px 0;
  }
}
.countdown_heading {
  color: var(--heading);
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
}
@media (min-width: 576px) {
  .countdown_heading {
    font-size: 38px;
  }
}
.countdown_desc {
  color: #505050;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 26px;
}
.countdown_con {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}
.countdown_con:not(:last-child)::before {
  content: ":";
  position: absolute;
  right: 0;
  top: 8%;
  font-size: 23px;
  color: var(--heading);
}
.countdown_num {
  color: var(--main-color);
  font-weight: 600;
  font-size: 30px;
}
.countdown_sub {
  color: var(--heading);
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 400px) {
  .countdown_num {
    font-size: 42px;
  }
  .countdown_con:not(:last-child)::before {
    top: 15%;
  }
  .countdown_sub {
    font-size: 16px;
  }
}
